{% extends "base.html" %}

{% block content %}
<marquee>
    {% for news in newsData%}
      {{news.news_title}}
    {% endfor %}
</maequee>
<section class="hero">
    <h1>Welcome to Our Landing Page</h1>
    <p>Your journey starts here. Discover more below.</p>
    <button onclick="learnMore()">Learn More</button>
</section>

<section id="features">
    
    <h2>Our Features</h2>
    <p>Explore the amazing features we offer to take your experience to the next level.</p>
    <div class="feature-list">
    {% for n in FeaturesData %}
        <div class="{{n.Features_Icon}}">
            <h3>{{n.Features_Title}}</h3>
            <p>{{n.Features_Description | safe}}</p>
            <a href="/featurepage1">Learn More</a>
        </div>
        
    {% endfor %}
        
    </div>
    
</section>

<section id="about">
    <h2>About Us</h2>
    <p>Learn more about who we are and what we do.</p>
</section>

<section id="contact">
    <h2>Contact Us</h2>
    <p>Reach out for more information.</p>
</section>

{% endblock %}
