{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'marksheet/styles.css' %}">

    <title>Marksheet</title>
</head>
<body>
   
    <form action="" method="post">
        {% csrf_token %}
        <H1>Marksheet</H1>
        <label>SUBJECT 1</label>
        <input type="text" name="sub1"  class="form-control"/>
        <br>
        <br>
        <label>SUBJECT 2</label>
        <input type="text" name="sub2"  class="form-control"/>
        <br><br>
        <label>SUBJECT 3</label>
        <input type="text" name="sub3"  class="form-control"/>
        <br><br>
        <label>SUBJECT 4</label>
        <input type="text" name="sub4"  class="form-control"/>
        <br><br>
        <label>SUBJECT 5</label>
        <input type="text" name="sub5"  class="form-control"/>
        <button type="submit">Marksheet</button>
        <br><br>
        <label>Total</label>
        <input type="text" value="{{total}}"  class="form-control"/>
        <br><br>
        <label>Percentage</label>
        <input type="text" value="{{per}}"  class="form-control"/>
 

     </form>
</body>
</html>